<div class="card">
  <div class="job-card">
    <% if @job.unregistered_company_logo? %>
      <%= image_tag @job.company.logo_url, class: "show-logo" %>
    <% else %>
      <%= image_tag "fallback.png", class: "show-logo" %>
    <% end %>
    <h3><%= @job.company.name %></h3>
    <h1><%= @job.title %></h1>
    <h3 style="color: #5DB1D1";><%= @job.salary %></h3>
  </div>
</div>

  <div style="padding: 10px; background-color: white;" class="text-center">
    <% if @job.job_email? %>
      <%= link_to "Quick Apply", new_job_talent_path(@job), remote: true, class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to "Apply", @job.job_url, :target => "_blank", class: "btn btn-success btn-lg fas fa-external-link-alt" %>
    <% end %>
  </div>

<div class="container">
  <br>
  <div class="col-md-12">
    <span><i class="fas fa-globe" aria-hidden="true"></i> <%= @job.location %></span>
    <span style="margin-left: 40px; color: #5DB1D1;"><i class="far fa-clock" aria-hidden="true"></i> <%= @job.job_type %></span>
  </div>
  <% if policy(@job).edit? %>
    <div class="col-md-3", style="margin-top: 40px;">
      <%= link_to "Edit job details", edit_company_job_path(@job.company, @job), class: "btn btn-md btn-block btn-outline-primary"%>
    </div>
    <div class="col-md-3", style="margin-top: 40px;">
      <%= link_to "Delete Job", company_job_path(@job.company, @job), method: :delete, data: { confirm: "Are you sure you want to delete the job posting?" },
      class: "btn btn-md btn-block btn-outline-danger"%>
    </div>
  <% end %>

  <%= render "jobs/registered_company/shared_forms/show_create" %>

</div>
