<div class="col-sm-3 d-block d-sm-none">
  <%= search_form_for @search, :class => 'jobs_search' do |f| %>
    <%= f.search_field :salary_or_job_type_or_title_cont, placeholder: "search" %>
  <% end %>
<div class="mobile-filter" style="margin-bottom: 40px; margin-top: 20px;">
  <div class="row">
      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Roles
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="filter-style">
              <h4>Roles</h4>
              <% role_order = ["Software & IT", "Accounting & Finance", "Marketing & Sales", "Engineer", "Health", "Education", "Designer", "Business Developer",
              "Office Administration", "Customer Service", "Project Management", "Banking & Investment", "Consulting", "Other"] %>
              <%= search_form_for @search, :class => 'filters_click' do |f| %>
                <% new_roles = role_order %>

                <% new_roles.each do |new_role| %>
                  <div class="styled-input-container">
                    <a>
                      <label>
                        <%= check_box_tag('q[role_eq_any][]', new_role) %>
                        <%= new_role %>
                      </label>
                    </a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Types
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <div class="filter-style">
              <h4>Type</h4>
              <% type_order = ["Full-time", "Part-time", "Internship", "Student", "Co-founder", "Freelance"] %>
              <%= search_form_for @search, :class => 'filters_click' do |f| %>
                <% new_job_types = type_order %>

                <% new_job_types.each do |new_job_type| %>
                  <div class="styled-input-container">
                    <a>
                      <label>
                        <%= check_box_tag('q[job_type_eq_any][]', new_job_type) %>
                        <%= new_job_type %>
                      </label>
                    </a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Salary
          <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <div class="filter-style">
              <h4>Salary</h4>
              <% salary_order = ["Paid", "Unpaid",  "Commission"] %>
              <%= search_form_for @search, :class => 'filters_click' do |f| %>
                <% new_salary = salary_order %>

                <% new_salary.each do |salary| %>
                  <div class="styled-input-container">
                    <a>
                      <label>
                        <%= check_box_tag('q[salary_eq_any][]', salary) %>
                        <%= salary %>
                      </label>
                    </a>
                  </div>
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
