<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_user && current_user.company && current_user.company.id %>
    <%= link_to "Post a Job for GH₵50", new_company_job_path(current_user.company), class: "btn btn-success job-button" %>
  <% else %>
    <%= link_to "Post a Job for GH₵50", new_job_path, class: "btn btn-success job-button" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <% if current_user && current_user.company && current_user.company.id %>
            <%= link_to "CompanyProfile", company_path(current_user.company), class: "nav-link" %>
          <% else %>
            <%= link_to "CompanyProfile", new_company_path, class: "nav-link" %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Jobs", jobs_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
