<p>Hi Recruiter, in this email, you would find details of the latest applicant</p>
<p><%= @talent.full_name %></p>
<p>Resume: <%= @talent.resume %></p>
<p>cover letter: <%= @talent.cover_letter %></p>
<p><%= @talent.email %></p>
<p><%= @talent.mobile_number %></p>
<p>No worries, there would be a new email layout soon</p>

