<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :name,  :label => "Name of Company" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :description, as: :rich_text_area, :label => "Company Description" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :location, :label => "Company location", placeholder: "In what city or town is the company located?" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :address, :label => "Company Address" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :website, :label => "Company Website" %>
  </div>
</div>
