<div class="card">
  <div class="job-card">
    <%= image_tag @company.logo.current_path.split('public').last, class: "show-logo" %>
    <h1><%= @company.name %></h1>
    <h3 style="color: #5DB1D1";><%= @company.location %></h3>
    <h3><%= @company.address %></h3>
  </div>
</div>

<div class="container">
  <%= render "companies/shared_forms/show_create" %>
</div>
