<div class="card">
  <div class="job-card">
    <%= image_tag @company.logo_url, class: "show-logo" %>
    <h1><%= @company.name %></h1>
    <h3 style="color: #5DB1D1";><%= @company.location %></h3>
    <h3><%= @company.address %></h3>
    <% if @company.website %>
      <%= link_to "Website", @company.website, :target => "_blank" %>
    <% end %>
  </div>
</div>

<% if current_user %>
  <div style="padding: 10px; background-color: white;" class="text-center">
    <%= link_to "Post job", new_company_job_path(@company),  class: "btn btn-success btn-lg" %>
  </div>
<% end %>

<div class="container">
  <% if current_user %>
    <div class="col-md-12", style="margin-top: 40px;">
      <%= link_to "Edit company profile", edit_company_path(@company),  class: "btn btn-primary btn-lg"%>
    </div>
  <% end %>

  <div style="margin-top: 40px;" class="col-md-9">
   <%= @company.description %>
  </div>
  <br>
  <div class="col-md-9">
    <h1>Perks & Benefits</h1>
    <br>
    <p1>Perks & Benefits at <%= @company.name %></p1>
    <br>
    <br>
    <div class="row">
      <% @company.perks.all.each do |perk| %>
        <input style="display: none", class="hidden", type="checkbox", value="<%= perk.id %>" name="company[perk_ids][]" id="company_perk_ids_<%= perk.id %>"/>
        <div class="col-md-4 perk-choices">
          <label class="perk-choice" for="company_perk_ids_<%= perk.id %>">
            <i class="<%= perk.icon %>" aria-hidden="true"></i>
            <br>
            <%= perk.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
