<div class="card">
  <div class="job-card">
    <%= image_tag @company.logo_url, class: "show-logo" %>
    <h1><%= @company.name %></h1>
    <h3 style="color: #5DB1D1";><%= @company.location %></h3>
    <h3><%= @company.address %></h3>
  </div>
</div>

<% if policy(@company).edit? %>
  <div style="padding: 10px; background-color: white;" class="text-center">
    <%= link_to "Post a job", new_company_job_path(@company),  class: "btn btn-success btn-lg" %>
  </div>
<% end %>

<div class="container">
  <% if policy(@company).edit? %>
    <div class="col-md-3", style="margin-top: 40px;">
      <%= link_to "Edit company profile", edit_company_path(@company),  class: "btn btn-md btn-block btn-outline-primary"%>
    </div>
  <% end %>

  <%= render "companies/shared_forms/show_create" %>
</div>
