<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :title,  :label => "Job title" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :description, as: :rich_text_area, :label => "Job Description" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :role, collection: ["Software & IT", "Accounting & Finance", "Marketing & Sales", "Engineer", "Health", "Education", "Designer", "Business Developer",
    "Office Administration", "Customer Service", "Project Management", "Banking & Investment", "Consulting", "Other"], :label => "Job Role" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :location, :label => "Job location" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :job_type, collection: ["Full-time", "Part-time", "Internship", "Student", "Co-founder", "Freelance"], :label => "Job Type" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :salary, collection: ["Paid", "Unpaid", "Commission"], :label => "Salary" %>
  </div>
</div>

<div class="form-group">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :job_application_type, as: :radio_buttons, collection: [['Apply By Email', 'Email', checked: true ], ['Apply By Url', 'Url' ]], :label => "How should job seekers apply for the job?" %>
  </div>
</div>


<div class="form-group show-job-email" >
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :job_email, :label => "Job Email", placeholder: "Applications for this job will be sent to the email address you specify", required: true %>
  </div>
</div>

<div class="form-group form-group--inactive show-job-url">
  <label class="col-md-1 control-label"></label>
  <div class="col-md-9">
    <%= f.input :job_url, :label => "Job Url", placeholder: "Applicants will go to the URL you specify to apply for this job.", required: true %>
  </div>
</div>
