<%= simple_form_for @job, html: { class: 'form-horizontal' },wrapper: :horizontal_form do |f| %>
  <div class="container">
    <br>
    <h1 id="get-started">Job Details</h1>
    <br>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :unregistered_company_name,  :label => "Company name", required: true %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :unregistered_company_email,  :label => "Contact Email", required: true %>
      </div>
    </div>

    <%= render "jobs/partials/new_edit", f: f %>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <%= f.input :unregistered_company_logo, input_html: { class: 'd-none', id: 'logo-input' }, label_html: { class: 'upload-logo'}, label: '📷 Upload a company logo (recommended but optional)' %>
        <%= f.input :unregistered_company_logo_cache, as: :hidden %>
        <%= image_tag "", width: 100, id: "logo-preview" %>
      </div>
    </div>

    <br>
    <h1>Perks & Benefits</h1>
    <br>
    <p1 class="lead">Select perks and benefits that your company offers to employees (optional)</p1>
    <br>
    <br>
    <div class="form-group">
      <div class="col-md-9">
        <div class="row">
          <% Perk.all.each do |perk| %>
            <input style="display: none", class="hidden", type="checkbox", value="<%= perk.id %>" name="job[perk_ids][]" id="job_perk_ids_<%= perk.id %>"/>
            <div class="col-md-4 perk-choices">
              <label class="perk-choice" for="job_perk_ids_<%= perk.id %>">
                <i class="<%= perk.icon %>" aria-hidden="true"></i>
                <br>
                <%= perk.name %>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label"></label>
      <div class="col-md-9">
        <p class="lead">Click <strong>Preview</strong> to see how your company profile would appear to applicants. The preview would open in a new tab. Return back to this page to <strong>Submit</strong> or make <strong>Edits</strong>.</p>
      </div>
      <br>
      <div class="col-md-4">
        <%= f.button :submit , name: "previewButt", value: "Preview", class: "btn btn-md btn-block btn-outline-primary", formtarget:"_blank", data: { disable_with: false } %>
      </div>
      <br>
      <div class="col-md-4">
        <%= f.button :submit , name: "createButt", value: "Pay and Post the job", class: "btn btn-md btn-block btn-success", data: { disable_with: false } %>
      </div>
    </div>
    <br>
  </div>
<% end %>
