<div class="card">
  <div class="job-card">
    <%= image_tag @job.unregistered_company_logo_url, class: "show-logo" %>
    <h3><%= @job.unregistered_company_name %></h3>
    <h1><%= @job.title %></h1>
    <h3 style="color: #5DB1D1";><%= @job.salary %></h3>
  </div>
</div>

<div style="padding: 10px; background-color: white;" class="text-center">
  <% if @job.job_email? %>
    <%= link_to "Quick Apply", new_job_talent_path(@job), remote: true, class: "btn btn-success btn-lg" %>
  <% else %>
    <%= link_to "Apply", @job.job_url, :target => "_blank", class: "btn btn-success btn-lg fas fa-external-link-alt" %>
  <% end %>
</div>

<%= render "jobs/unregistered_company/shared_forms/show_create" %>
