<div class="card">
  <div class="job-card">
    <%= image_tag @job.company.logo_url, class: "show-logo" %>
    <h3><%= @job.company.name %></h3>
    <h1><%= @job.title %></h1>
    <h3 style="color: #5DB1D1";><%= @job.salary %></h3>
  </div>
</div>

  <div style="padding: 10px; background-color: white;" class="text-center">
    <% if @job.job_email? %>
      <span class="btn btn-success">Quick Apply</span>
    <% else %>
      <span class="btn btn-success fas fa-external-link-alt">Apply</span>
    <% end %>
  </div>

<div class="container">
  <br>
  <div class="col-md-12">
    <span><i class="fas fa-globe" aria-hidden="true"></i> <%= @job.location %></span>
    <span style="margin-left: 40px; color: #5DB1D1;"><i class="far fa-clock" aria-hidden="true"></i> <%= @job.job_type %></span>
  </div>

  <div style="margin-top: 40px;" class="col-md-10">
   <%= @job.description %>
  </div>
  <br>

  <div class="col-md-3">
    <%= link_to "company profile", company_path(@job.company), class: "btn btn-md btn-block btn-outline-primary", target:"_blank"%>
  </div>
  <br>
  <br>

  <div class="col-md-9">
    <h3>Perks & Benefits at <%= @job.company.name %> </h3>
    <br>
    <br>
    <div class="row">
      <% @job.company.perks.each do |perk| %>
        <input style="display: none", class="hidden", type="checkbox", value="<%= perk.id %>" name="company[perk_ids][]" id="company_perk_ids_<%= perk.id %>"/>
        <div class="col-md-4 perk-choices">
          <label class="perk-choice" for="company_perk_ids_<%= perk.id %>">
            <i class="<%= perk.icon %>" aria-hidden="true"></i>
            <br>
            <%= perk.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
